#app {
	font-family: "微软雅黑";
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-width: 1200PX;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 1200PX;
}
input{
	padding: 0;
	border: 0;
}

:root {
	--main-font-color: #59beec;
	--main-border-color: #3d6183;
	--main-background-color: #37363c;
	--main-main-color: #4a474e;
	--main-other-color: #5eaead;
}
/* 消息提示框 */
.el-message {
	background: var(--main-font-color) !important;
	border: 1px solid var(--main-font-color) !important;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 50px;
	margin: auto;
}

.el-message .el-icon-info {
	color: white !important;
	font-size: 13px !important;
}

.el-message .el-message__content {
	color: white !important;
}

.el-message .el-message__icon {
	color: white !important;
	font-size: 13px !important;
}

/* 退出弹框 */
.el-message-box {
	background: #37363c !important;

	border: 1px solid #37363c !important;

	box-shadow: 0 0 5px 0px #37363c inset !important;

	border-radius: 0.05rem !important;
	box-shadow: 0 0 10px 0 #aaa;
	width: 420px !important;
	padding-bottom: 10px !important;
	font-size: 18px !important;

}

.el-message-box__title {
	color: white !important;
	font-size: 18px !important;
}

.el-message-box__headerbtn .el-message-box__close {
	color: white !important;
}

.el-message-box__content {
	color: white !important;
	padding: 10px 15px !important;
	font-size: 14px !important;
}

.el-message-box__status+.el-message-box__message {
	padding-left: 36px !important;
}

.el-message-box__status {

	color: white !important;
}

.el-message-box__status.el-icon-warning {
	font-size: 24px !important;
}

.el-message-box__btns button {
	background: transparent !important;
	color: white !important;
	border: 1px solid white !important;
	padding: 9px 15px;
	font-size: 12px;
}

.el-message-box__btns button:hover {
	background: transparent !important;
	opacity: 0.8;
}
.hoverActive{
	cursor: pointer;
	&:hover{
		opacity: 0.6;
	}
}
/* 谷歌滚动条设置 */
::-webkit-scrollbar {
	width: 3px;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color:rgba(0,0,0,0.3); 
}
/* 火狐 */
@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }
}